
@font-face {
    font-family:"AllianceNo.1-Black";
    src:url("Alliance No.1 Black.woff2") format("woff2"),url("Alliance No.1 Black.woff") format("woff"),url("Alliance No.1 Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        