
@font-face {
    font-family:"AllianceNo.1-Medium";
    src:url("Alliance No.1 Medium.woff2") format("woff2"),url("Alliance No.1 Medium.woff") format("woff"),url("Alliance No.1 Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        